.container {
  display: flex;
  flex-direction: column;
  background: #f7f8fcff;
  height: 100vh;
  padding-left: 24rpx;
  padding-right: 24rpx;

  .customer-list {
    width: 100%;
    height: calc(100vh - 40rpx);

    .list-item {
      background: #fff;
      margin-top: 24rpx;
      padding: 24rpx 24rpx;
      border-radius: 16rpx;
      box-shadow: 0px 16rpx 48rpx -16rpx rgba(16, 68, 114, 0.08),
        0px 4rpx 16rpx -4rpx rgba(16, 68, 114, 0.12);
    }

    .item-title {
      display: flex;
      justify-content: space-between;
      font-size: 28rpx;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.9);

      image {
        width: 32rpx;
        height: 32rpx;
        margin-right: 8rpx;
      }

      .item-title-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .item-content {
      display: flex;
      padding-top: 8rpx;
      padding-bottom: 16rpx;

      .item-info{
        width: 100%;
      }
      .item-subtitle {
        font-size: 32rpx;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
        line-height: 48rpx;
        padding-right: 32rpx;
        width: 100%;
      }
      .item-tag {
        background-color: RGBA(255, 242, 230, 1);
        font-size: 22rpx;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #e46e02;
        padding:5rpx 11rpx;
        display: inline-block;
        margin-top: 8rpx;
      }

      image {
        width: 198rpx;
        height: 198rpx;
        border-radius: 16px;
        flex-shrink: 0;
      }
    }

    .item-count {
      font-size: 24rpx;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      display: flex;
      margin-top: 24rpx;

      view {
        margin-left: 8rpx;
        font-size: 24rpx;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 152rpx;

      image {
        width: 320rpx;
        height: 320rpx;
      }

      font-size: 28rpx;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
